@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(-45deg, #1e293b, #7c3aed, #a855f7, #ddd6fe);
    background-size: 400% 400%;
    animation: fondo 10s ease infinite;
}

@keyframes fondo{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.contenedor{
    width: 430px;
    padding: 45px;
    border-radius: 30px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(18px);
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.35);
}

h1{
    color: white;
    margin-bottom: 30px;
}

label{
    display: block;
    text-align: left;
    color: white;
    margin-top: 18px;
    margin-bottom: 8px;
}

input{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background: rgba(255,255,255,0.2);
    color: white;
}

button{
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(135deg, #7c3aed, #c084fc);
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

#resultado{
    display: none;
    margin-top: 25px;
    padding: 18px;
    border-radius: 15px;
    background: rgba(255,255,255,0.2);
    color: white;
    font-size: 20px;
    font-weight: bold;
}